.ag-theme-quartz {
  --ag-foreground-color: rgba(47, 43, 61, 0.9);
  --ag-background-color: #fff;
  --ag-header-foreground-color: rgba(47, 43, 61, 1);
  --ag-header-background-color: #eaebed;
  --ag-odd-row-background-color: #fafafa;
  --ag-header-column-resize-handle-color: #bbbbbe;
  font-family: "Sarabun", sans-serif !important;
}
.ag-theme-quartz-dark {
  --ag-foreground-color: rgba(225, 222, 245, 0.7);
  --ag-background-color: #2f3349;
  --ag-header-foreground-color: rgba(225, 222, 245, 0.9);
  --ag-header-background-color: #2f3349;
  --ag-odd-row-background-color: #343851;
  --ag-header-column-resize-handle-color: #505466;
  font-family: "Sarabun", sans-serif !important;
}

.text-small {
  font-size: 11.9px;
}
.text-bold {
  font-weight: bold;
}
.rotate-text {
  writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  /*transform:scale(-1);*/
  line-height: 2em;
}
.ag-header-cell {
  padding-left: 8px !important;
  padding-right: 8px !important;
  /* padding-top: 2px !important;
  padding-bottom: 2px !important; */
}
.ag-cell {
  padding-left: 4px !important;
  padding-right: 4px !important;
  /* padding-top: 2px !important;
  padding-bottom: 2px !important; */

  user-select: text !important;
}
