.ag-theme-quartz {
  --ag-foreground-color: rgba(47, 43, 61, 0.9);
  --ag-background-color: #fff;
  --ag-header-foreground-color: rgba(47, 43, 61, 1);
  --ag-header-background-color: #eaebed;
  --ag-odd-row-background-color: #fafafa;
  --ag-header-column-resize-handle-color: #bbbbbe;
}
.ag-theme-quartz-dark {
  --ag-foreground-color: rgba(225, 222, 245, 0.7);
  --ag-background-color: #2f3349;
  --ag-header-foreground-color: rgba(225, 222, 245, 0.9);
  --ag-header-background-color: #2f3349;
  --ag-odd-row-background-color: #343851;
  --ag-header-column-resize-handle-color: #505466;
}
.text-small {
  font-size: 11.9px;
}
