// Write your overrides
/* @use "vuetify/styles" as * with (
  $body-font-family: "Sarabun",
); */
/* Chrome, Safari */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

